body {
    background-color: aquamarine;
}

#test2 {
    border-style: ridge;
    border-color: green;
    border-width: thin;
} 

#nice {
    border-radius: 8px;
    background-color: darkorange;
    transition-duration: 0.1s;
    border-color: lawngreen;
}

#nice:hover {
    background-color: lawngreen;
}
